<h1>Authenticate with Magic Link</h1>

<%= form_with url: b2c_magic_links_authenticate_path, local: true do |form| %>
  <div class="field">
    <%= form.label :token, "Magic Link Token" %><br>
    <%= form.text_field :token, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Authenticate" %>
  </div>
<% end %>
