<h1>Reset Password</h1>

<%= form_with url: phcdevworks_accounts_stytch.b2c_process_reset_start_path, method: :post do |form| %>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.submit "Send Reset Instructions" %>
  </div>
<% end %>
