<h1>Authenticate with Magic Link</h1>

<%= form_with url: b2b_magic_links_process_authenticate_path, local: true do |form| %>
  <div class="field">
    <%= form.label :token, "Magic Link Token" %><br>
    <%= form.text_field :token, value: params[:token], required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Authenticate" %>
  </div>
<% end %>
